# Dependencies
node_modules/

# Build / output
dist/
*.zip
.cache/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE / Editor
.idea/
.vscode/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
